<%= link_to 'verify', check_hunt_path(@hunt, checkpoint_id: @checkpoint.id), method: :post, remote: true %>


<ul>
  <li>
    <%= @hash.each {|x| x}%>
  </li>
  <li>
    checkpoint.id = <%= @checkpoint.id%>
  </li>
  <li>
    hunt.id = <%= @hunt.id%>
  </li>
  <li>
    checkpoint.pos = <%= @checkpoint.position%>
  </li>
</ul>

<div id="map"></div>
