<%#= link_to 'verify', check_hunt_path(hunt, checkpoint_id: checkpoint.id, lat: crd.latitude, lng: crd.longitude ), method: :post, remote: true %>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <%= checkpoint.clue  %>
    </div>
  </div>
</div>


<div id="map"></div>

      <%= simple_form_for :check, url: check_hunt_path(@hunt), method: :post, remote: true, html: { id: "check-form" } do |f| %>
        <%= f.input :checkpoint_id, input_html: { value: @checkpoint.id }, :as => :hidden %>
        <%= f.input :latitude , :as => :hidden%>
        <%= f.input :longitude, :as => :hidden%>
        <%= f.input :accuracy ,:as => :hidden%>
        <%= f.submit 'verify location', class: "btn btn-primary btn-lg", id: "btn-verify"%>
      <% end %>

<button type="button" class="btn btn-primary my-modal-button" data-toggle="modal" data-target=".bs-example-modal-sm" id="btn-clue">Clue</button>
