<div class="container">
  <h1>Our crazy escapes 🤠</h1>
  <div class="row">
    <% @hunts.each do |hunt| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <%= link_to hunt_path(hunt) do %>
          <div class="hunt-card">
            <div class="top-hunt-card">
            <%= image_tag "#{hunt.category.photo}", size: "350x200" %>

            </div>
            <div class="bottom-hunt-card">
              <h2><%= hunt.name.capitalize %></h2>
              <div class="bottom-left-hunt-card">
                <div class="description">
                  <p>City : <%=hunt.city %></p>
                  <p>Category : <%=hunt.category.name.capitalize %></p>
                  <p>Distance : <%= hunt.mydistance %>km</p>
                  <p>Difficulty : <%= hunt.difficulty %> / 5</p>
                </div>
              </div>
              <div class="bottom-right-hunt-card">
                <p>Created by : X</p>
                <img src="user.jpg" alt="user" class="avatar-large">
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
