
<div class="container">
  <h1 class="text-center">Our incredible escapes</h1>
  <div class="row-spaced-wrapper">
    <div class="row">
      <% @hunts.each do |hunt| %>
      <div class="col-sm-6 col-md-3 hunt-card" style="height: 300px;">
        <%= link_to hunt_path(hunt) do%>
        <div class="col-xs-12 top-hunt-card" style="height: 60%; background: url('https://snazzy-maps-cdn.azureedge.net/assets/106593-city-sunglass.png?v=20170525102759')">
        </div>
        <div class="col-xs-12 bottom-hunt-card" style="height: 40%">
          <div class="bottom-hunt-card-left col-xs-8 text-left" >
              <p><%=hunt.name.capitalize %></p>
              <p><%=hunt.category.name.capitalize %></p>
              <p>Distance : <%= hunt.mydistance %></p>
              <p>Difficulty : <%= hunt.difficulty %> / 5</p>
          </div>
          <div class="bottom-hunt-card-right col-xs-4 text-right">
            <p>Test</p>
            <p>avatar</p>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

