<div class="my-body">
  <div class="my-content">
    <div class="hunt-content">

      <div id="hunt-contents">
        <%= render 'hunt_content', hunt: @hunt, checkpoint: @checkpoint %>
      </div>

      <div class="modal fade common-modal-css" id="content-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Well done! You found the checkpoint! &nbsp&nbsp<i id="green-check"  class="fa fa-check"></i><i id="green-check"  class="fa fa-check"></i>
        </h3>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">start the next checkpoint</button>
      </div>
      </div>
    </div>
  </div>

    <div class="modal fade common-modal-css" id="fail-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Getting closer, try again! &nbsp&nbsp&nbsp<i class="fa fa-times"></i><i class="fa fa-times"></i></h3>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Try again</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="end-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3>You reached the last checkpoint, congrats!<i class="fa fa-cross"></i></h3>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <%= link_to "Check the other hunts", hunts_path(), class: "btn btn-default" %>
            </div>
        </div>
      </div>
    </div>

    <% content_for(:after_js) do %>
      <script>
        $(document).ready(function() {
          var mapStyle = [{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#e0efef"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"hue":"#1900ff"},{"color":"#c0e8e8"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"visibility":"on"},{"lightness":700}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7dcdcd"}]}]

          circle = [{lng: <%= @checkpoint.log %>, lat: <%= @checkpoint.lat %>, radius: 100, strokeColor: '#0000FF'}]
          var handler = Gmaps.build('Google');
          handler.buildMap({
          internal: { id: 'map' },
          provider: {
            styles: mapStyle,
            gestureHandling: 'greedy'
            }
          },function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(16);
            handler.addCircles(circle)
          });

          var options = {
            timeout: 10000,
            enableHighAccuracy: true,
            maximumAge: 0
          };
          var userMarker = null;

          setUserPositionOnMap();
          setInterval(setUserPositionOnMap, 9000);

          function setUserPositionOnMap() {
            navigator.geolocation.getCurrentPosition(setPosition, error,  {timeout: 10000});
          }

          function setPosition(position) {
            if (userMarker) {
              userMarker.setMap(null);
            }
            userMarker = new google.maps.Marker({
              position: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
              map: handler.getMap(),
              icon: "<%= image_url 'bluecircle.png' %>"
            });
          }

          // bind click on verify
          $('body').on('click', '#btn-verify', function(e){
            e.preventDefault();
            navigator.geolocation.getCurrentPosition(success, error, options);
          });

          function success(pos) {
            var crd = pos.coords;
            $('#check_latitude').val(crd.latitude);
            $('#check_longitude').val(crd.longitude);
            $('#check_accuracy').val(crd.accuracy);

            $('#check-form').trigger('submit');
          }
          function error(err) {
            console.warn("ERROR(${err.code}): ${err.message}");
          };


        });
      </script>
    <% end %>
    </div>
  </div>
</div>
