
  <p>play.html.erb</p>

<div id="hunt-content">
  <%= link_to 'verify', check_hunt_path(@hunt, checkpoint_id: @checkpoint.id), method: :post, remote: true %>
  <ul>
    <li>
      <%= @hash.each {|x| x}%>
    </li>
    <li>
      checkpoint.id = <%= @checkpoint.id%>
    </li>
    <li>
      hunt.id = <%= @hunt.id%>
    </li>
    <li>
      checkpoint.pos = <%= @checkpoint.position%>
    </li>
  </ul>

  <div id="map"></div>

</div>


<% content_for(:after_js) do %>
<%= javascript_tag do %>
  $(document).ready(function() {
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  });
<% end %>
<% end %>
