<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <div class="side-menu">
        <div id="hunt-title-category">
          <h1><%= @hunt.name %><br><%= @hunt.category.name %></h1>
        </div>
        <div class="distance-info">
          <p>Distance : 5.0 km</p>
          <p>Difficulty : 3/5</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map-test" style="width: 100%; height: 350px"></div>

<div id="hunt-description">
  <p class="hunt-desc-text">Mystic Burdigala is the perfect choice for people who wants to discover Bordeaux with some never seen angles before! <br><br>
  Quite a lot of beautiful sight seeing and famous spots that totally worths the medium difficulty required for this escape. Such a perfect way to dig out all the hidden treasures of the magnificent Bordeaux</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= link_to "Back", :back,  class: "btn btn-success btn-lg margin-button design-button" %>
    </div>
    <div class="col-xs-6 text-right">
      <%= simple_form_for :hunt, url: play_hunt_path(@hunt), method: :get do |f| %>
        <%= f.button :submit, "Go !", class: "btn btn-success btn-lg margin-button design-button"%>
      <% end %>

    </div>
  </div>
</div>



<% content_for(:after_js) do %>

<script>
  var directionsDisplay = new google.maps.DirectionsRenderer();
  var directionsService = new google.maps.DirectionsService();

  function calcRoute() {
    var origin      = new google.maps.LatLng(<%= @waypoints.first.lat_lng %>);
    var destination = new google.maps.LatLng(<%= @waypoints.last.lat_lng %>);

    var request = {
      origin: origin,
      destination: destination,
      <% if @waypoints.size > 2 %>
        waypoints: [
          <% @waypoints[1..-2].each do |waypoint| %>
            {
              location: new google.maps.LatLng(<%= waypoint.lat_lng %>),
              stopover: true
            },
          <% end %>
        ],
      <% end %>
      travelMode: google.maps.TravelMode.WALKING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
    });
  }

  calcRoute(); // call this anywhere you want
  $(document).ready(function(){

    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map-test' } }, function() {
      directionsDisplay.setMap(handler.getMap());
    });
  });


</script>

<% end %>
