<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <div class="side-menu">
        <div id="hunt-title-category">
          <h1><%= @hunt.name %></h1>
          <h3><%= @hunt.category.name %></h3>
        </div>
        <div id="hunt-description">
          <p>Mystic Burdigala is an amazing escape for people who want to discover Bordeaux like no one ! It’s full of beautiful sight seeing and the game is quite easy. That’s the perfect way to get an idea about all the hidden treasure of Bordeaux</p>
        </div>
        <div class="hunt-map text-center">
          <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?size=275x274&path=#{@hunt.gmap_path}&sensor=false&key=#{ENV['API_KEY']}" %>
        </div>
        <div>
          <%= simple_form_for :hunt, url: play_hunt_path(@hunt), method: :get do |f| %>
            <%= f.button :submit, "Let's Go !", class: "btn btn-success btn-lg margin-button"%>
          <% end %>
          <%= link_to "Back", :back,  class: "btn btn-success btn-lg margin-button" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map-test" style="width: 400px; height: 400px"></div>
<% content_for(:after_js) do %>

<script>
  var directionsDisplay = new google.maps.DirectionsRenderer();
  var directionsService = new google.maps.DirectionsService();

  function calcRoute() {
    var origin      = new google.maps.LatLng(<%= @waypoints.first.lat_lng %>);
    var destination = new google.maps.LatLng(<%= @waypoints.last.lat_lng %>);

    var request = {
      origin: origin,
      destination: destination,
      <% if @waypoints.size > 2 %>
        waypoints: [
          <% @waypoints[1..-2].each do |waypoint| %>
            {
              location: new google.maps.LatLng(<%= waypoint.lat_lng %>),
              stopover: true
            },
          <% end %>
        ],
      <% end %>
      travelMode: google.maps.TravelMode.WALKING
    };
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
    });
  }

  calcRoute(); // call this anywhere you want
  $(document).ready(function(){

    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map-test' } }, function() {
      directionsDisplay.setMap(handler.getMap());
    });
  });


</script>

<% end %>
