<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <div class="side-menu">
        <div id="hunt-title-category">
          <h1><%= @hunt.name %></h1>
          </h3><%= @hunt.category.name %></h3>
        </div>
        <div id="hunt-description"></div>
        <div>
          <%= simple_form_for :hunt, url: play_hunt_path(@hunt), method: :get do |f| %>
          <%= f.button :submit, "Let's Go !", class: "btn btn-success btn-lg margin-button"%>
          <% end %>
          <%= link_to "Back", :back,  class: "btn btn-success btn-lg margin-button" %>
        </div>
      </div>
      <div class="map-container">

      </div>
    </div>
  </div>
</div>
